<!-- ========== FOOTER ========== -->
<footer class="gradient-half-primary-v1"
        id="footer"
        style="background-image: linear-gradient( 150deg ,#2d1582,#19a0ff);    background-repeat: repeat-x; list-style: none initial; ">
  <div class="container space-top-2 space-bottom-1 mt-7">
    <div class="row justify-content-lg-start mb-7">
      <div class="col-sm-7 col-lg-6">
        <!-- Logo -->
        <a href='https://simplelogin.io/' aria-label="SimpleLogin">
          <img src="/static/logo-white.svg"
               height="30px"
               class="mb-3"
               alt="SimpleLogin logo">
        </a>
        <!-- End Logo -->
        <p class="small text-white">
          SimpleLogin is an <a href="https://github.com/simple-login">open source</a> email alias solution to protect your email address.
        </p>
        <p class="small text-white">
          SimpleLogin is the product of SimpleLogin SAS, registered in France under the SIREN number 884302134.
          SimpleLogin SAS is part of <a href="https://proton.me">Proton AG</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
<script>
  function startIntro() {
    introJs().setOption('showProgress', true).start();
    introJs().start();
  }
</script>
<script src="{{ url_for('static', filename='node_modules/vue/dist/vue.min.js') }}"></script>
<script>
  var app = new Vue({
    el: '#notification-app',
    delimiters: ["[[", "]]"], // necessary to avoid conflict with jinja
    data: {
      notifications: [],
      page: 0,
      loading: true,
      canLoadMore: false,
      showNotification: false,
    },
    computed: {
      has_non_read_notification: function () {
        for (let i = 0; i < this.notifications.length; i++) {
          if (!this.notifications[i].read) return true;
        }
        return false;
      }
    },
    methods: {
      markAsRead: async function (notification) {
        notification.read = true;
        let res = await fetch(`/api/notifications/${notification.id}/read`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          }
        });

        if (!res.ok) {
          toastr.error("Sorry for the inconvenience! Could you refresh the page & retry please?", "Unknown Error");
        }
      },

      loadMore: async function () {
        let that = this;
        that.page += 1;

        let res = await fetch(`/api/notifications?page=${that.page}`, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          }
        });
        if (res.ok) {
          let json = await res.json();
          that.canLoadMore = json.more;
          that.notifications = that.notifications.concat(json.notifications);
        }
      }

    },
    async mounted() {
      let that = this;
      let res = await fetch(`/api/notifications?page=${that.page}`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        }
      });
      if (res.ok) {
        let json = await res.json();
        that.notifications = json.notifications;
        that.loading = false;
        that.canLoadMore = json.more
        if (that.notifications.length > 0)
          that.showNotification = true;
      }
    }
  })
</script>
